<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:data.properties"/>

    <bean id="myStudent1"
          class="com.oxytoca.student.MyStudent"
          init-method="init"
          scope="prototype">
        <property name="name" value="${newStudent.name1}"/>
        <property name="reportCard">
            <map>
                <entry key="math" value="5.0"/>
                <entry key="economics" value="4.0"/>
                <entry key="technicalDrawing" value="5.0"/>
                <entry key="physics" value="4.0"/>
            </map>
        </property>
    </bean>
    <bean id="myStudent2"
          class="com.oxytoca.student.MyStudent"
          init-method="init"
          scope="prototype">
        <property name="name" value="${newStudent.name2}"/>
        <property name="reportCard">
            <map>
                <entry key="math" value="5.0"/>
                <entry key="economics" value="4.0"/>
                <entry key="technicalDrawing" value="5.0"/>
                <entry key="physics" value="3.0"/>
            </map>
        </property>
    </bean>
    <bean id="myStudent3"
          init-method="init"
          class="com.oxytoca.student.MyStudent"
          scope="prototype">
        <property name="name" value="${newStudent.name3}"/>
        <property name="reportCard">
            <map>
                <entry key="math" value="3.0"/>
                <entry key="economics" value="4.0"/>
                <entry key="technicalDrawing" value="2.0"/>
                <entry key="physics" value="2.0"/>
            </map>
        </property>
    </bean>
    <bean class="com.oxytoca.config.MyBeanPostProcessor"/>
    <context:component-scan base-package="com.oxytoca.teacher"/>
</beans>